*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-Grey-light-1: #faf9f9;
  --color-Grey-light-2: #f4f2f2;
  --color-Grey-light-3: #f0eeee;
  --color-Grey-light-4: #ccc;
  --color-Grey-dark-1: #333;
  --color-Grey-dark-2: #777;
  --color-Grey-dark-3: #999;
  --dark-shadow: 0 0 5.5rem rgba(#000000, 0.4);
  --border-grey-light: 1px solid var(--color-Grey-light-2); }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-Grey-dark-2); }

.logo-box {
  margin-left: 2rem;
  height: 3.25rem; }
  .logo-box img {
    height: 100%; }

.search-box {
  flex-basis: 40%;
  flex-shrink: 0;
  flex-shrink: 0;
  text-align: center; }
  .search-box .search__input {
    outline: none;
    border: none;
    padding: 1rem;
    background-color: var(--color-Grey-light-2);
    border-radius: 2rem;
    width: 90%;
    transition: all 0.35s; }
    .search-box .search__input:focus {
      width: 100%; }

.user-icon-box {
  display: flex;
  align-items: center; }
  .user-icon-box .icon-box__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    align-self: stretch;
    padding: 2rem 1.5rem;
    position: relative;
    transition: all 0.25s ease; }
    .user-icon-box .icon-box__item:hover {
      background-color: var(--color-Grey-light-3); }
    .user-icon-box .icon-box__item .icon-box--notifications {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background-color: var(--color-primary);
      width: 1.5rem;
      height: 1.5rem;
      font-size: 1rem;
      color: white;
      border-radius: 50%;
      text-align: center;
      line-height: 1.5rem; }
    .user-icon-box .icon-box__item .icon-box--avatar {
      height: 3.5rem; }
      .user-icon-box .icon-box__item .icon-box--avatar img {
        height: 100%;
        border-radius: 50%;
        margin-right: 1rem; }

.hotel-info__primary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: var(--border-grey-light); }
  .hotel-info__primary .hotel__title {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 100;
    margin-left: 1.5rem; }
  .hotel-info__primary .hotel__loca-geo {
    display: flex;
    align-items: center; }
  .hotel-info__primary .hotel__location {
    font-size: 1.2rem;
    color: var(--color-primary);
    cursor: pointer;
    padding-bottom: 2px;
    border-bottom: 1px solid;
    transition: all 0.15s;
    margin-right: 2rem; }
    .hotel-info__primary .hotel__location:hover {
      color: black; }
  .hotel-info__primary .hotel__vote {
    align-self: stretch;
    background-color: var(--color-primary);
    color: white;
    padding: 1.5rem;
    text-align: center; }
    .hotel-info__primary .hotel__vote--review {
      font-size: 2.2rem;
      font-weight: 200; }
    .hotel-info__primary .hotel__vote--members {
      font-size: 0.8rem;
      text-transform: uppercase; }

body {
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary), var(--color-primary-dark));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  width: 90%;
  position: relative;
  box-shadow: var(--dark-shadow);
  background-color: var(--color-Grey-light-1);
  overflow: hidden; }

.header {
  width: 100%;
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
  border-bottom: 1px solid var(--color-Grey-light-2); }

.content {
  display: flex; }

.sidebar {
  flex: 0 0 25rem;
  align-self: stretch;
  background-color: var(--color-Grey-dark-1);
  color: white; }

.main {
  flex-grow: 1;
  align-self: stretch; }
