.btn {
  all: unset;
  cursor: pointer;
  display: inline-block;
}
////////////////////////////////////////////////
/////////////START STYLING HEADER :

/////////////LOGO :
.logo-box {
  margin-left: 2rem;
  height: 3.25rem;
  img {
    height: 100%;
  }
}
/////////////SEARCH :

.search-box {
  flex-basis: 40%;
  flex-shrink: 0;
  flex-shrink: 0;
  text-align: center;
  // position: relative;
  display: flex;
  justify-content: center;
  align-self: center;

  &__btn {
    // // you can do that with flexbox properties
    // position: absolute;
    // top: 0.75rem;
    // left: calc(90% - 1rem);
    transform: translateY(2px);

    transition: all 0.15s;
    &:active {
      transform: translateY(4px);
    }

    &__icon {
      width: 2rem;
      height: 2rem;
      fill: var(--color-Grey-dark-3);
    }
  }
  &__input {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    padding: 0.85rem 2rem;
    background-color: var(--color-Grey-light-2);
    border-radius: 2rem;
    width: 90%;
    transition: all 0.35s;
    margin-right: -3.25rem;
    color: var(--color-Grey-dark-3);
    &::-webkit-input-placeholder {
      color: var(--color-Grey-light-4);
    }
    &:focus {
      width: 100%;
      background-color: var(--color-Grey-light-3);
    }
  }
}
/////////////NAVIGATOR :

.user-nav {
  display: flex;
  align-items: center;
  .icon-box__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    // had align self mohima bax t9add lina height automatically
    align-self: stretch;
    padding: 2rem 1.5rem;
    position: relative;
    transition: all 0.25s ease;

    &:hover {
      background-color: var(--color-Grey-light-3);
    }
    .icon-box {
      &__icon {
        width: 2.25rem;
        height: 2.25rem;
        fill: var(--color-Grey-dark-2);
      }
      &__notifications {
        position: absolute;
        top: 1.5rem;
        right: 0.8rem;
        background-color: var(--color-primary);
        width: 1.5rem;
        height: 1.5rem;
        font-size: 0.8em;
        color: white;
        border-radius: 50%;
        text-align: center;
        line-height: 1.5rem;
      }
      &__avatar {
        height: 3.5rem;
        img {
          height: 100%;
          border-radius: 50%;
          margin-right: 1rem;
        }
      }
    }
  }
}

////////////////////////////////////////////////
/////////////END STYLING HEADER :

.hotel-preview {
  &__img {
    width: calc(100% / 3);
  }
}

.hotel-info__primary {
  .hotel__title-box {
    display: flex;
    align-items: center;
  }
  .hotel__title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 100;
    margin-left: 1.5rem;
    margin-right: 2.5rem;
  }
  .hotel__title-icons {
    .title-icon {
      width: 2rem;
      height: 2rem;
      fill: var(--color-primary);
    }
  }

  .hotel__loca-geo {
    display: flex;
    align-items: center;
    .hotel__local-icon {
      width: 2rem;
      height: 2rem;
      fill: var(--color-primary);
      margin-right: 0.5rem;
    }
  }
  .hotel__location {
    font-size: 1.2rem;
    color: var(--color-primary);
    cursor: pointer;
    padding-bottom: 2px;
    border-bottom: 1px solid;
    transition: all 0.15s;
    margin-right: 2rem;
    &:hover {
      color: black;
    }
  }
  .hotel__vote {
    align-self: stretch;
    background-color: var(--color-primary);
    color: white;
    padding: 1.5rem;
    text-align: center;
    &--review {
      font-size: 2.2rem;
      font-weight: 200;
    }
    &--members {
      font-size: 0.8rem;
      text-transform: uppercase;
    }
  }
}

.sidebar {
  &-nav {
    margin-top: 3.5rem;
    &__item {
      color: white;
      font-size: 1.4rem;
      text-transform: uppercase;
      &:not(:last-of-type) {
        margin-bottom: 5px;
      }
      &-colored {
        a {
          background-color: var(--color-primary);
        }
      }
      a {
        color: inherit;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 1.5rem;
        transition: all 0.25s;

        &:hover {
          background-color: var(--color-primary);
        }
      }
    }
  }
  &-icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: white;
    margin-right: 1.5rem;
  }
  .copyrights {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 2.5rem;
    color: var(--color-Grey-light-1);
  }
}
