.btn {
  all: unset;
  cursor: pointer;
  display: inline-block;
}
.title__secondary {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

////////////////////////////////////////////////
/////////////START STYLING HEADER :

/////////////LOGO :

.logo-box {
  margin-left: 2rem;
  height: 3.25rem;
  img {
    height: 100%;
  }
}

/////////////SEARCH :

.search-box {
  flex-basis: 40%;
  flex-shrink: 0;
  flex-shrink: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;

  &__btn {
    // // you can do that with flexbox properties
    // position: absolute;
    // top: 0.75rem;
    // left: calc(90% - 1rem);
    transform: translateY(2px);

    transition: all 0.15s;
    &:active {
      transform: translateY(4px);
    }

    &__icon {
      width: 2rem;
      height: 2rem;
      fill: var(--color-Grey-dark-3);
    }
  }
  &__input {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    padding: 0.85rem 2rem;
    background-color: var(--color-Grey-light-2);
    border-radius: 2rem;
    width: 90%;
    transition: all 0.35s;
    margin-right: -3.25rem;
    color: var(--color-Grey-dark-3);
    &::-webkit-input-placeholder {
      color: var(--color-Grey-light-4);
    }
    &:focus {
      width: 100%;
      background-color: var(--color-Grey-light-3);
    }
  }
}

/////////////NAVIGATOR :

.user-nav {
  display: flex;
  align-items: center;
  .icon-box__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    // had align self mohima bax t9add lina height automatically
    align-self: stretch;
    padding: 2rem 1.5rem;
    position: relative;
    transition: all 0.25s ease;

    &:hover {
      background-color: var(--color-Grey-light-3);
    }
    .icon-box {
      &__icon {
        width: 2.25rem;
        height: 2.25rem;
        fill: var(--color-Grey-dark-2);
      }
      &__notifications {
        position: absolute;
        top: 1.5rem;
        right: 0.8rem;
        background-color: var(--color-primary);
        width: 1.5rem;
        height: 1.5rem;
        font-size: 0.8em;
        color: white;
        border-radius: 50%;
        text-align: center;
        line-height: 1.5rem;
      }
      &__avatar {
        height: 3.5rem;
        img {
          height: 100%;
          border-radius: 50%;
          margin-right: 1rem;
        }
      }
    }
  }
}

////////////////////////////////////////////////
/////////////END STYLING HEADER :

////////////////////////////////////////////////
/////////////START STYLING HOTEL PRIMARY INFOS :

.hotel-info__primary {
  .hotel__title-box {
    display: flex;
    align-items: center;
  }
  .hotel__title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 2.25rem;
    font-weight: 300;
    margin: 1.5rem 3rem;
  }
  .title-icon,
  .hotel__local-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-primary);
  }

  .hotel__loca-geo {
    display: flex;
    align-items: center;
    .hotel__local-icon {
      width: 2rem;
      height: 2rem;
      fill: var(--color-primary);
      margin-right: 0.5rem;
    }
  }
  .hotel__vote {
    align-self: stretch;
    background-color: var(--color-primary);
    color: white;
    padding: 1.5rem;
    text-align: center;
    &--review {
      font-size: 2.2rem;
      font-weight: 200;
    }
    &--members {
      font-size: 0.8rem;
      text-transform: uppercase;
    }
  }
}
.hotel__location,
.review-button {
  all: unset;
  display: inline-block;
  font-size: 1.2rem;
  color: var(--color-primary);
  cursor: pointer;
  padding-bottom: 2px;
  border-bottom: 1px solid currentColor;
  transition: all 0.25s;
  margin-right: 2rem;
  &:hover {
    color: var(--color-Grey-dark-1);
  }
  &:focus {
    color: black;
    background-color: white;
    animation: move-up-down 1s infinite;
  }
}

////////////////////////////////////////////////
/////////////END STYLING HOTEL PRIMARY INFOS :

////////////////////////////////////////////////
/////////////START STYLING SIDEBAR :

.sidebar {
  &-nav {
    list-style-type: none;
    margin-top: 3.5rem;
    &__item {
      color: var(--color-Grey-light-1);
      font-size: 1.4rem;
      text-transform: uppercase;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 0.35s, width 0.25s cubic-bezier(1, 0, 0, 1) 0.25s,
          background-color 0.25s;
      }
      &:hover::before {
        transform: scaleY(1);
        width: 100%;
      }
      &:active::before {
        background-color: var(--color-primary-light);
      }
      &:not(:last-of-type) {
        margin-bottom: 5px;
      }
      &--colored {
        background-color: var(--color-primary);
      }
      a {
        position: relative;
        z-index: 10;
        color: inherit;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 1.5rem 3rem;
        transition: all 0.25s;
      }
    }
  }
  &-icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
    margin-right: 2rem;
  }
  .copyrights {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 2.5rem;
    color: var(--color-Grey-light-4);
  }
}

////////////////////////////////////////////////
/////////////END STYLING SIDEBAR :

////////////////////////////////////////////////
/////////////START STYLING NAV :

.hotel-preview {
  &__figure {
    position: relative;
    &:hover > .hotel-preview__caption {
      transform: translate(50%, -50%) scale(1);
    }
  }
  &__caption {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) scale(0);
    transform-origin: top center;
    color: white;
    font-size: 2.75rem;
    text-transform: uppercase;
    font-weight: 400;
    width: 80%;
    height: 80%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.25s;
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    &::before {
      width: 5rem;
      height: 5rem;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-top: 4px solid white;
      border-left: 4px solid white;
    }
    &::after {
      width: 5rem;
      height: 5rem;
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      border-right: 4px solid white;
      border-bottom: 4px solid white;
    }
  }
  &__img {
    width: 100%;
    display: block;
  }
}

////////////////////////////////////////////////
/////////////END STYLING NAV :

////////////////////////////////////////////////
/////////////ANIMATION:

@keyframes move-up-down {
  0%,
  100% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 2rem rgba(#333, 0.4);
  }
}
////////////////////////////////////////////////
/////////////START STYLING HOTEL DETAILS :

.bottom-line {
  border-bottom: 1px solid var(--color-Grey-light-2);
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}
.details-info,
.review-box {
  background-color: white;
}
.details-description {
  p:not(:last-of-type) {
    padding-bottom: 2rem;
  }
}
.hotel-details {
  padding: 5rem;
  font-size: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;

  .details-info {
    padding: 3rem;
    flex: 0 0 60%;
    box-shadow: var(--light-shadow);

    .details-properties-list {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .properties-list__item {
        flex: 0 0 50%;
        margin-bottom: 1rem;
        &::before {
          content: "";
          display: inline-block;
          width: 1rem;
          height: 1rem;
          margin-right: 0.5rem;
          background-color: var(--color-primary);
          -webkit-mask-image: url("../img/SVG/chevron-thin-right.svg");
          -webkit-mask-size: cover;
          mask-image: url("../img/SVG/chevron-thin-right.svg");
          mask-size: cover;

          @supports not (
            (-webkit-mask-image: url()) or (-webkit-mask-size: cover) or
              (mask-image: url("../img/SVG/chevron-thin-right.svg")) or
              (mask-size: cover)
          ) {
            background-color: transparent;
            background-image: url("../img/SVG/chevron-thin-right.svg");
            background-size: cover;
          }
        }
      }
    }
    .details-recommend {
      display: flex;
      font-size: 1.2rem;
      justify-content: space-between;
      align-items: center;
      .recommend-profile {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        box-sizing: content-box;
        border: 3px solid white;
        &:not(:last-of-type) {
          margin-right: -2.5rem;
        }
      }
    }
  }
  .details-reviews {
    flex: 0 0 40%;
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .review-box {
      overflow: hidden;
      padding: 3rem;
      margin-bottom: 4rem;
      box-shadow: var(--light-shadow);
      position: relative;
      .review-content {
        position: relative;
        z-index: 1;
        padding-bottom: 2.5rem;
      }
      &::before {
        font-family: sans-serif;
        content: "\201C";
        color: var(--color-Grey-light-2);
        position: absolute;
        top: -12rem;
        left: -2.5rem;
        font-size: 25rem;
        z-index: 0;
        font-weight: 600;
      }
    }
    .owner-profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__avatar {
        width: 4.5rem;
        height: 4.5rem;
        margin-right: 1.5rem;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      &__details {
        margin-right: auto;
      }
      &__rating {
        color: var(--color-primary);
        font-size: 2rem;
        font-weight: 300;
      }
      &__name {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
      }
      &__date {
        font-size: 1rem;
        color: var(--color-grey-dark-3);
      }
    }
    .review-button {
      text-align: center;
      span {
        display: inline-block;
        margin-left: 0.5rem;
        transition: margin 0.2s;
      }
      &:hover span {
        margin-left: 1rem;
      }
    }
  }
}

////////////////////////////////////////////////
/////////////END STYLING HOTEL DETAILS :

////////////////////////////////////////////////
/////////////START STYLING BOOKING PART :

.details-booking {
  text-align: center;
  padding: 3rem;
}
.booking-button {
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  position: relative;
  border-radius: 5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  overflow: hidden;
  transition: all 0.25s;

  &:hover {
    background-image: linear-gradient(
      to right,
      var(--color-primary-dark),
      var(--color-primary-light)
    );
    .first-part-btn {
      transform: translateY(100%);
    }
    .second-part-btn {
      top: 0;
    }
  }
  &:focus {
    animation: move-up-down 1.25s infinite 0.25s;
  }
  & > span {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.25s;
  }
}
.first-part-btn {
  padding: 1.75rem 7.5rem;
}
.second-part-btn {
  padding: 1.75rem 0;
  position: absolute;
  top: -100%;
  left: 0;
}

////////////////////////////////////////////////
/////////////END STYLING BOOKING PART :
